  :root {

    --main-radius:5px;
    --main-padding:5px;
  
  }

  body {
  min-height: 100vh;
  background: linear-gradient( #63577F, #F26419 );
  margin: 0;
  padding: 0;
}

  
.container {
  
    display:grid;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 1fr 1fr;
    grid-template-areas:
    "nav"
    "content1" 
    "content2" 
    "content3"; 
    gap: 10px;
    
   
      
      

  }


  h1 {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
         font-size: 28px;
        font-weight: 400;
        color: #a5a6a2;
          display: flex;
    flex-direction: row;
    justify-content: center;

  }


#nav {
    
    
    grid-area: nav;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2rem;
    padding-right: 40px;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    background-color: #121a1d;


    }

    #content1 {
    
    
        grid-area: content1;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: var(--main-radius);
        padding-top: var(--main-padding);
        background-color: #121a1d;
      
       
    }

    #content2 {
    
    
        grid-area: content2;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        justify-content: flex-start;
        border-radius: var(--main-radius);
        padding-top: var(--main-padding);
      
        background-color: #121a1d;
        
    
        }


    #content3 {
    
        grid-area: content3;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;
      
    
        }




  .carousel-container {
    position: relative;
    width: 1400px; /* upravte podle potřeby */
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    background-color: #a7a7a7;
   
  }

  .slides {
    display: flex;
     align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-left: 15px;
    gap: 0.2rem;
    transition: transform 0.5s ease-in-out;
  }

  .slide {
    min-width: calc(100% / 3);
    /* Ujistěte se, že obrázky zabírají plochu */
  }

  img {
        height: 450px;
        display:flex;
        flex-direction: row;
        justify-content: center;
  }

  /* Tlačítka */
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
  }

  .prev {
    left: 10px;
  }

  .next {
    right: 10px;
  }